In [1]:
# dodatkowe pomysły:
# kto rozwijał się najszybciej/ najwolniej względem siebie/ względem ogółu
# czy widać zabory?

In [2]:
import pandas as pd

In [3]:
data_path_ludnosc = "../ludnosc.csv"
data_path_gminy = "../gminy.csv"

# ludnosc

## przegląd danych

In [4]:
df_ludnosc = pd.read_csv(data_path_ludnosc, sep=";", thousands=',')

In [5]:
df_ludnosc

,Kategoria,Kod,Nazwa,Zmienna,Rok,Wartosc,Jednostka miary,Atrybut,Unnamed: 8
0,Gospodarstwa,0,POLSKA,gospodarstwa domowe objęte badaniem,1999,31428.0,gosp.,NaN,NaN
1,Gospodarstwa,0,POLSKA,gospodarstwa domowe objęte badaniem,2000,36163.0,gosp.,NaN,NaN
2,Gospodarstwa,0,POLSKA,gospodarstwa domowe objęte badaniem,2001,31847.0,gosp.,NaN,NaN
3,Gospodarstwa,0,POLSKA,gospodarstwa domowe objęte badaniem,2002,32342.0,gosp.,NaN,NaN
4,Gospodarstwa,0,POLSKA,gospodarstwa domowe objęte badaniem,2003,32452.0,gosp.,NaN,NaN
...,...,...,...,...,...,...,...,...,...
25869,Wydatki,3200000,ZACHODNIOPOMORSKIE,udział wydatków na użytkowanie mieszkania i no...,2016,199.0,%,NaN,NaN
25870,Wydatki,3200000,ZACHODNIOPOMORSKIE,udział wydatków na użytkowanie mieszkania i no...,2017,195.0,%,NaN,NaN
25871,Wydatki,3200000,ZACHODNIOPOMORSKIE,udział wydatków na użytkowanie mieszkania i no...,2018,195.0,%,NaN,NaN
25872,Wydatki,3200000,ZACHODNIOPOMORSKIE,udział wydatków na użytkowanie mieszkania i no...,2019,193.0,%,NaN,NaN
25873,Wydatki,3200000,ZACHODNIOPOMORSKIE,udział wydatków na użytkowanie mieszkania i no...,2020,203.0,%,NaN,NaN

In [6]:
# print unique values foreach column
for column in df_ludnosc.columns:
    print(f"{column}: {df_ludnosc[column].unique()} \n")

Kategoria: ['Gospodarstwa' 'Osoby' 'Wyposażenie' 'Artykuły' 'Dochody' 'Wydatki']

Kod: [      0  200000  400000  600000  800000 1000000 1200000 1400000 1600000
 1800000 2000000 2200000 2400000 2600000 2800000 3000000 3200000]

Nazwa: ['POLSKA' 'DOLNOŚLĄSKIE' 'KUJAWSKO-POMORSKIE' 'LUBELSKIE' 'LUBUSKIE'
 'ŁÓDZKIE' 'MAŁOPOLSKIE' 'MAZOWIECKIE' 'OPOLSKIE' 'PODKARPACKIE'
 'PODLASKIE' 'POMORSKIE' 'ŚLĄSKIE' 'ŚWIĘTOKRZYSKIE' 'WARMIŃSKO-MAZURSKIE'
 'WIELKOPOLSKIE' 'ZACHODNIOPOMORSKIE']

Zmienna: ['gospodarstwa domowe objęte badaniem' 'ogółem' 'pracujących'
 'pobierający świadczenia społeczne' 'emerytury i renty'
 'pozostających na utrzymaniu'
 'przeciętna liczba osób pobierających  świadczenia społeczne w relacji do przeciętnej liczby osób w gospodarstwie domowym'
 'chłodziarka' 'automat pralniczy' 'zmywarka do naczyń'
 'kuchenka mikrofalowa'
 'kuchenka elektryczna z płytą ceramiczną, indukcyjną' 'samochód osobowy'
 'odtwarzacz płyt kompaktowych'
 'zestaw do odbioru, rejestracji i odtwarzania dźwięku (wieża HI-FI)'
 'odbiornik telewizyjny' 'zestaw kina domowego' 'odtwarzacz DVD'
 'telefon komórkowy' 'smartfon' 'magnetowid, odtwarzacz'
 'urządzenie do odbioru telewizji satelitarnej'
 'urządzenie do odbioru telewizji satelitarnej lub kablowej'
 'komputer osobisty ogółem' 'komputer osobisty z dostępem do Internetu'
 'komputer osobisty z szerokopasmowym dostępem do Internetu'
 'urządzenie z dostępem do Internetu' 'drukarka' 'drukarka wielofunkcyjna'
 'pieczywo i produkty zbożowe' 'pieczywo' 'mięso' 'mięso surowe'
 'mięso surowe drobiowe' 'wędliny i inne przetwory mięsne' 'wędliny'
 'ryby' 'ryby i owoce morza' 'mleko świeże' 'jogurty i napoje mleczne'
 'jogurty'
 'mleko (bez zagęszczonego i w proszku), napoje mleczne i jogurty'
 'sery i twarogi' 'jaja' 'oleje i tłuszcze' 'owoce' 'warzywa' 'ziemniaki'
 'cukier' 'z pracy najemnej' 'z gospodarstwa indywidualnego w rolnictwie'
 'z pracy na własny rachunek'
 'przeciętny miesięczny dochód rozporządzalny na 1 osobę  z gospodarstwa indywidualnego w rolnictwie w relacji do przeciętnego miesięcznego dochodu na 1 osobę z pracy na własny rachunek'
 'ze świadczeń społecznych'
 'ze świadczeń społecznych; w tym ze świadczenia wychowawczego Rodzina 500+""'
 'dochód do dyspozycji' 'ogółem, Polska = 100'
 'towary i usługi konsumpcyjne' 'żywność i napoje bezalkoholowe'
 'napoje alkoholowe i wyroby tytoniowe' 'odzież i obuwie'
 'użytkowanie mieszkania lub domu i nośniki energii'
 'wyposażenie mieszkania i prowadzenie gospodarstwa domowego' 'zdrowie'
 'transport' 'łączność' 'rekreacja i kultura' 'edukacja'
 'restauracje i hotele' 'pozostałe wydatki na towary i usługi'
 'ogółem (BAEL)' 'towary i usługi konsumpcyjne (BAEL)'
 'udział wydatków na żywność i napoje bezalkoholowe w wydatkach ogółem'
 'udział wydatków na użytkowanie mieszkania i nośniki energii w wydatkach ogółem']

Rok: [1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012
 2013 2014 2015 2016 2017 2018 2019 2020 1998]

Wartosc: [31428. 36163. 31847. ...  7746.  7317. 65469.]

Jednostka miary: ['gosp.' 'osoba' '-' '%' 'kg' 'l' 'szt.' 'zł']

Atrybut: [nan 'm' 'x']

Unnamed: 8: [nan]

## zarobki

In [7]:
df_ludnosc[(df_ludnosc.Kategoria == "Dochody") & (df_ludnosc.Zmienna == "ogółem")]

,Kategoria,Kod,Nazwa,Zmienna,Rok,Wartosc,Jednostka miary,Atrybut,Unnamed: 8
15470,Dochody,0,POLSKA,ogółem,1999,56043.0,zł,NaN,NaN
15471,Dochody,0,POLSKA,ogółem,2000,61051.0,zł,NaN,NaN
15472,Dochody,0,POLSKA,ogółem,2001,64448.0,zł,NaN,NaN
15473,Dochody,0,POLSKA,ogółem,2002,66421.0,zł,NaN,NaN
15474,Dochody,0,POLSKA,ogółem,2003,71196.0,zł,NaN,NaN
...,...,...,...,...,...,...,...,...,...
18655,Dochody,3200000,ZACHODNIOPOMORSKIE,ogółem,2016,148290.0,zł,NaN,NaN
18656,Dochody,3200000,ZACHODNIOPOMORSKIE,ogółem,2017,165260.0,zł,NaN,NaN
18657,Dochody,3200000,ZACHODNIOPOMORSKIE,ogółem,2018,172223.0,zł,NaN,NaN
18658,Dochody,3200000,ZACHODNIOPOMORSKIE,ogółem,2019,180111.0,zł,NaN,NaN
18659,Dochody,3200000,ZACHODNIOPOMORSKIE,ogółem,2020,186209.0,zł,NaN,NaN

In [8]:
df_ludnosc[(df_ludnosc.Kategoria == "Dochody") & (df_ludnosc.Zmienna == "ogółem")].groupby("Nazwa").Wartosc.describe()

,count,mean,std,min,25%,50%,75%,max
Nazwa,,,,,,,,
DOLNOŚLĄSKIE,22.0,117754.818182,44399.114475,58091.0,75613.00,120671.5,144563.00,203124.0
KUJAWSKO-POMORSKIE,22.0,104315.818182,39347.507047,51288.0,65593.50,106196.5,123465.25,184534.0
LUBELSKIE,22.0,97868.318182,36447.199048,49104.0,67345.25,94374.0,122214.25,167902.0
LUBUSKIE,22.0,111015.045455,42263.498303,54926.0,68187.50,112819.0,138602.75,197147.0
MAZOWIECKIE,22.0,140743.272727,49018.698911,68005.0,93852.25,152035.0,174461.50,224052.0
MAŁOPOLSKIE,22.0,107627.636364,40125.558590,55965.0,72127.50,107463.5,129423.25,191474.0
OPOLSKIE,22.0,107782.045455,36786.426177,50719.0,75720.50,109900.0,129288.00,171134.0
PODKARPACKIE,22.0,88782.681818,32794.169539,47684.0,59382.75,87093.5,107448.50,158857.0
PODLASKIE,22.0,106719.318182,42351.484345,47916.0,66483.00,106098.5,125851.00,194831.0
POLSKA,22.0,112910.818182,41261.482296,56043.0,74191.50,115365.5,137473.00,191921.0
POMORSKIE,22.0,117428.909091,40339.341459,56753.0,77741.00,120381.0,142046.00,185998.0
WARMIŃSKO-MAZURSKIE,22.0,103006.454545,39371.046648,46593.0,66857.50,109057.5,126781.75,188405.0
WIELKOPOLSKIE,22.0,108182.954545,39213.752548,55923.0,71029.00,111153.5,128303.75,180698.0
ZACHODNIOPOMORSKIE,22.0,113183.454545,41123.031469,59118.0,76216.50,116329.0,141148.75,186209.0
ŁÓDZKIE,22.0,111502.363636,39662.408439,57462.0,74014.00,114691.5,134564.00,187183.0
ŚLĄSKIE,22.0,115774.500000,43037.734166,59722.0,75942.25,114123.5,141082.50,205036.0
ŚWIĘTOKRZYSKIE,22.0,98451.636364,38540.271297,46764.0,61684.75,98212.5,120203.50,172692.0

### średnie dochody per województwo na przestrzeni lat

In [23]:
# to mean() jest niepotrzebne, ponieważ jest tylko jedna obserwacja per wojewódzwto, per rok, ale inaczej nie umiem.
mean_income_annually = pd.DataFrame(df_ludnosc[(df_ludnosc.Kategoria == "Dochody") & (df_ludnosc.Zmienna == "ogółem")].groupby(["Nazwa", "Rok"]).Wartosc.mean())
mean_income_annually

                      Wartosc
Nazwa          Rok
DOLNOŚLĄSKIE   1999   58091.0
               2000   60526.0
               2001   65181.0
               2002   69084.0
               2003   72746.0
...                       ...
ŚWIĘTOKRZYSKIE 2016  130596.0
               2017  143268.0
               2018  154982.0
               2019  162646.0
               2020  172692.0

[374 rows x 1 columns]

### gdzie nastąpiła największa zmiana w dochodach na przestrzeni lat (mentalność do wydawania)

In [10]:
pd.DataFrame(df_ludnosc[(df_ludnosc.Kategoria == "Dochody") & (df_ludnosc.Zmienna == "ogółem")].groupby("Nazwa").Wartosc.std().sort_values(ascending=False))

                          Wartosc
Nazwa
MAZOWIECKIE          49018.698911
DOLNOŚLĄSKIE         44399.114475
ŚLĄSKIE              43037.734166
PODLASKIE            42351.484345
LUBUSKIE             42263.498303
POLSKA               41261.482296
ZACHODNIOPOMORSKIE   41123.031469
POMORSKIE            40339.341459
MAŁOPOLSKIE          40125.558590
ŁÓDZKIE              39662.408439
WARMIŃSKO-MAZURSKIE  39371.046648
KUJAWSKO-POMORSKIE   39347.507047
WIELKOPOLSKIE        39213.752548
ŚWIĘTOKRZYSKIE       38540.271297
OPOLSKIE             36786.426177
LUBELSKIE            36447.199048
PODKARPACKIE         32794.169539

### zmiana wydatków poszczególnych wojewóctw na przestrzeni lat

#### zmiana ilościowa

In [11]:
pd.DataFrame(df_ludnosc[(df_ludnosc.Kategoria == "Dochody") & (df_ludnosc.Zmienna == "ogółem")].groupby(["Nazwa", "Rok"]).Wartosc.mean().diff())

                     Wartosc
Nazwa          Rok
DOLNOŚLĄSKIE   1999      NaN
               2000   2435.0
               2001   4655.0
               2002   3903.0
               2003   3662.0
...                      ...
ŚWIĘTOKRZYSKIE 2016  10316.0
               2017  12672.0
               2018  11714.0
               2019   7664.0
               2020  10046.0

[374 rows x 1 columns]

#### procentowa

In [12]:
pd.DataFrame(df_ludnosc[(df_ludnosc.Kategoria == "Dochody") & (df_ludnosc.Zmienna == "ogółem")].groupby(["Nazwa", "Rok"]).Wartosc.mean().pct_change())

                      Wartosc
Nazwa          Rok
DOLNOŚLĄSKIE   1999       NaN
               2000  0.041917
               2001  0.076909
               2002  0.059879
               2003  0.053008
...                       ...
ŚWIĘTOKRZYSKIE 2016  0.085767
               2017  0.097032
               2018  0.081763
               2019  0.049451
               2020  0.061766

[374 rows x 1 columns]

## wydatki

In [13]:
df_ludnosc[(df_ludnosc.Kategoria == "Wydatki") & (df_ludnosc.Zmienna == "ogółem")]

,Kategoria,Kod,Nazwa,Zmienna,Rok,Wartosc,Jednostka miary,Atrybut,Unnamed: 8
18836,Wydatki,0,POLSKA,ogółem,1998,50303.0,zł,NaN,NaN
18837,Wydatki,0,POLSKA,ogółem,1999,54976.0,zł,NaN,NaN
18838,Wydatki,0,POLSKA,ogółem,2000,59949.0,zł,NaN,NaN
18839,Wydatki,0,POLSKA,ogółem,2001,60972.0,zł,NaN,NaN
18840,Wydatki,0,POLSKA,ogółem,2002,62499.0,zł,NaN,NaN
...,...,...,...,...,...,...,...,...,...
25478,Wydatki,3200000,ZACHODNIOPOMORSKIE,ogółem,2016,111056.0,zł,NaN,NaN
25479,Wydatki,3200000,ZACHODNIOPOMORSKIE,ogółem,2017,120581.0,zł,NaN,NaN
25480,Wydatki,3200000,ZACHODNIOPOMORSKIE,ogółem,2018,123653.0,zł,NaN,NaN
25481,Wydatki,3200000,ZACHODNIOPOMORSKIE,ogółem,2019,126335.0,zł,NaN,NaN
25482,Wydatki,3200000,ZACHODNIOPOMORSKIE,ogółem,2020,124253.0,zł,NaN,NaN

In [14]:
df_ludnosc[(df_ludnosc.Kategoria == "Wydatki") & (df_ludnosc.Zmienna == "ogółem")].groupby("Nazwa").Wartosc.describe()

,count,mean,std,min,25%,50%,75%,max
Nazwa,,,,,,,,
DOLNOŚLĄSKIE,23.0,94531.521739,27314.576200,54933.0,68570.0,101317.0,115488.5,138262.0
KUJAWSKO-POMORSKIE,23.0,82858.695652,24174.664135,44082.0,61090.0,87559.0,100733.0,123232.0
LUBELSKIE,23.0,79936.565217,22073.491765,43038.0,62387.5,82553.0,97670.5,113257.0
LUBUSKIE,23.0,88731.869565,22474.148175,51702.0,67541.0,93790.0,108489.5,122371.0
MAZOWIECKIE,23.0,110212.565217,30584.220945,58881.0,82833.5,123328.0,136264.5,147626.0
MAŁOPOLSKIE,23.0,83549.000000,19476.950205,49414.0,66077.5,90035.0,100329.0,107773.0
OPOLSKIE,23.0,92649.565217,25569.573228,52016.0,70576.0,101633.0,108798.0,133212.0
PODKARPACKIE,23.0,73873.304348,18393.169341,40717.0,58988.5,78378.0,90156.5,101569.0
PODLASKIE,23.0,79837.782609,19919.169524,46282.0,61579.0,82356.0,99079.0,106610.0
POLSKA,23.0,89611.869565,24044.806142,50303.0,68405.5,95668.0,108496.5,125173.0
POMORSKIE,23.0,92612.695652,26245.160438,48749.0,69909.5,97711.0,108941.0,136050.0
WARMIŃSKO-MAZURSKIE,23.0,76964.521739,19482.076263,43570.0,59440.5,86615.0,91376.5,107342.0
WIELKOPOLSKIE,23.0,81970.913043,20435.699694,48143.0,63970.0,87957.0,95592.5,116282.0
ZACHODNIOPOMORSKIE,23.0,89546.391304,23894.208286,53181.0,68269.5,94020.0,108640.5,126335.0
ŁÓDZKIE,23.0,93825.956522,26168.731653,51243.0,70151.0,99773.0,113925.0,137459.0
ŚLĄSKIE,23.0,93690.434783,25790.972901,55517.0,69316.0,95951.0,113296.0,133036.0
ŚWIĘTOKRZYSKIE,23.0,76395.391304,20714.237712,43521.0,58043.5,79207.0,94282.5,107511.0

### średnie wydatki per województwo na przestrzeni lat

In [25]:
# to mean() jest niepotrzebne, ponieważ jest tylko jedna obserwacja per wojewódzwto, per rok, ale inaczej nie umiem.
mean_spendings_annually = pd.DataFrame(df_ludnosc[(df_ludnosc.Kategoria == "Wydatki") & (df_ludnosc.Zmienna == "ogółem")].groupby(["Nazwa", "Rok"]).Wartosc.mean())
mean_spendings_annually

                      Wartosc
Nazwa          Rok
DOLNOŚLĄSKIE   1998   54933.0
               1999   60374.0
               2000   60862.0
               2001   60845.0
               2002   62388.0
...                       ...
ŚWIĘTOKRZYSKIE 2016   96317.0
               2017  103706.0
               2018  107511.0
               2019  105905.0
               2020   99400.0

[391 rows x 1 columns]

### gdzie nastąpiła największa zmiana w wydatkach na przestrzeni lat (mentalność do wydawania)

In [16]:
pd.DataFrame(df_ludnosc[(df_ludnosc.Kategoria == "Wydatki") & (df_ludnosc.Zmienna == "ogółem")].groupby("Nazwa").Wartosc.std().sort_values(ascending=False))

                          Wartosc
Nazwa
MAZOWIECKIE          30584.220945
DOLNOŚLĄSKIE         27314.576200
POMORSKIE            26245.160438
ŁÓDZKIE              26168.731653
ŚLĄSKIE              25790.972901
OPOLSKIE             25569.573228
KUJAWSKO-POMORSKIE   24174.664135
POLSKA               24044.806142
ZACHODNIOPOMORSKIE   23894.208286
LUBUSKIE             22474.148175
LUBELSKIE            22073.491765
ŚWIĘTOKRZYSKIE       20714.237712
WIELKOPOLSKIE        20435.699694
PODLASKIE            19919.169524
WARMIŃSKO-MAZURSKIE  19482.076263
MAŁOPOLSKIE          19476.950205
PODKARPACKIE         18393.169341

### zmiana wydatków poszczególnych wojewóctw na przestrzeni lat

#### zmiana ilościowa

In [17]:
pd.DataFrame(df_ludnosc[(df_ludnosc.Kategoria == "Wydatki") & (df_ludnosc.Zmienna == "ogółem")].groupby(["Nazwa", "Rok"]).Wartosc.mean().diff())

                     Wartosc
Nazwa          Rok
DOLNOŚLĄSKIE   1998      NaN
               1999   5441.0
               2000    488.0
               2001    -17.0
               2002   1543.0
...                      ...
ŚWIĘTOKRZYSKIE 2016   6000.0
               2017   7389.0
               2018   3805.0
               2019  -1606.0
               2020  -6505.0

[391 rows x 1 columns]

#### zmiana procentowa

In [18]:
pd.DataFrame(df_ludnosc[(df_ludnosc.Kategoria == "Wydatki") & (df_ludnosc.Zmienna == "ogółem")].groupby(["Nazwa", "Rok"]).Wartosc.mean().pct_change())

                      Wartosc
Nazwa          Rok
DOLNOŚLĄSKIE   1998       NaN
               1999  0.099048
               2000  0.008083
               2001 -0.000279
               2002  0.025360
...                       ...
ŚWIĘTOKRZYSKIE 2016  0.066433
               2017  0.076715
               2018  0.036690
               2019 -0.014938
               2020 -0.061423

[391 rows x 1 columns]

## zarobki vs wydatki

In [38]:
# źle
mean_income_annually.merge(mean_spendings_annually, how='inner', on='Rok', suffixes=('_Wydatki', '_Zarobki'))

      Wartosc_Wydatki  Wartosc_Zarobki
Rok
1999          58091.0          60374.0
1999          58091.0          47592.0
1999          58091.0          49070.0
1999          58091.0          59121.0
1999          58091.0          64012.0
...               ...              ...
2020         172692.0         112335.0
2020         172692.0         124253.0
2020         172692.0         122552.0
2020         172692.0         127085.0
2020         172692.0          99400.0

[6358 rows x 2 columns]

In [39]:
mean_income_annually

                      Wartosc
Nazwa          Rok
DOLNOŚLĄSKIE   1999   58091.0
               2000   60526.0
               2001   65181.0
               2002   69084.0
               2003   72746.0
...                       ...
ŚWIĘTOKRZYSKIE 2016  130596.0
               2017  143268.0
               2018  154982.0
               2019  162646.0
               2020  172692.0

[374 rows x 1 columns]

In [40]:
mean_spendings_annually

                      Wartosc
Nazwa          Rok
DOLNOŚLĄSKIE   1998   54933.0
               1999   60374.0
               2000   60862.0
               2001   60845.0
               2002   62388.0
...                       ...
ŚWIĘTOKRZYSKIE 2016   96317.0
               2017  103706.0
               2018  107511.0
               2019  105905.0
               2020   99400.0

[391 rows x 1 columns]

In [54]:
pd.concat([mean_income_annually.Wartosc,mean_spendings_annually.Wartosc],axis=1,keys=['Dochody', 'Wydatki'])

                      Dochody   Wydatki
Nazwa          Rok
DOLNOŚLĄSKIE   1998       NaN   54933.0
               1999   58091.0   60374.0
               2000   60526.0   60862.0
               2001   65181.0   60845.0
               2002   69084.0   62388.0
...                       ...       ...
ŚWIĘTOKRZYSKIE 2016  130596.0   96317.0
               2017  143268.0  103706.0
               2018  154982.0  107511.0
               2019  162646.0  105905.0
               2020  172692.0   99400.0

[391 rows x 2 columns]

# gminy

In [55]:
df_gminy = pd.read_csv(data_path_gminy, sep=";", thousands=',')

/Users/kuba/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [56]:
df_gminy

,Kategoria,Kod,Nazwa,Zmienna,Rok,Wartosc,Jednostka miary,Atrybut,Unnamed: 8
0,Ludność,0,POLSKA,ludność na 1 km2,2002,122.0,osoba,NaN,NaN
1,Ludność,0,POLSKA,ludność na 1 km2,2003,122.0,osoba,NaN,NaN
2,Ludność,0,POLSKA,ludność na 1 km2,2004,122.0,osoba,NaN,NaN
3,Ludność,0,POLSKA,ludność na 1 km2,2005,122.0,osoba,NaN,NaN
4,Ludność,0,POLSKA,ludność na 1 km2,2006,122.0,osoba,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1971426,Wydatki per capita,3263011,Świnoujście (1),wydatki majątkowe,2016,1114.0,zł,NaN,NaN
1971427,Wydatki per capita,3263011,Świnoujście (1),wydatki majątkowe,2017,1024.0,zł,NaN,NaN
1971428,Wydatki per capita,3263011,Świnoujście (1),wydatki majątkowe,2018,3206.0,zł,NaN,NaN
1971429,Wydatki per capita,3263011,Świnoujście (1),wydatki majątkowe,2019,5256.0,zł,NaN,NaN
1971430,Wydatki per capita,3263011,Świnoujście (1),wydatki majątkowe,2020,9089.0,zł,NaN,NaN

In [57]:
# print unique values foreach column
for column in df_gminy.columns:
    print(f"{column}: {df_ludnosc[column].unique()} \n")

Kategoria: ['Gospodarstwa' 'Osoby' 'Wyposażenie' 'Artykuły' 'Dochody' 'Wydatki']

Kod: [      0  200000  400000  600000  800000 1000000 1200000 1400000 1600000
 1800000 2000000 2200000 2400000 2600000 2800000 3000000 3200000]

Nazwa: ['POLSKA' 'DOLNOŚLĄSKIE' 'KUJAWSKO-POMORSKIE' 'LUBELSKIE' 'LUBUSKIE'
 'ŁÓDZKIE' 'MAŁOPOLSKIE' 'MAZOWIECKIE' 'OPOLSKIE' 'PODKARPACKIE'
 'PODLASKIE' 'POMORSKIE' 'ŚLĄSKIE' 'ŚWIĘTOKRZYSKIE' 'WARMIŃSKO-MAZURSKIE'
 'WIELKOPOLSKIE' 'ZACHODNIOPOMORSKIE']

Zmienna: ['gospodarstwa domowe objęte badaniem' 'ogółem' 'pracujących'
 'pobierający świadczenia społeczne' 'emerytury i renty'
 'pozostających na utrzymaniu'
 'przeciętna liczba osób pobierających  świadczenia społeczne w relacji do przeciętnej liczby osób w gospodarstwie domowym'
 'chłodziarka' 'automat pralniczy' 'zmywarka do naczyń'
 'kuchenka mikrofalowa'
 'kuchenka elektryczna z płytą ceramiczną, indukcyjną' 'samochód osobowy'
 'odtwarzacz płyt kompaktowych'
 'zestaw do odbioru, rejestracji i odtwarzania dźwięku (wieża HI-FI)'
 'odbiornik telewizyjny' 'zestaw kina domowego' 'odtwarzacz DVD'
 'telefon komórkowy' 'smartfon' 'magnetowid, odtwarzacz'
 'urządzenie do odbioru telewizji satelitarnej'
 'urządzenie do odbioru telewizji satelitarnej lub kablowej'
 'komputer osobisty ogółem' 'komputer osobisty z dostępem do Internetu'
 'komputer osobisty z szerokopasmowym dostępem do Internetu'
 'urządzenie z dostępem do Internetu' 'drukarka' 'drukarka wielofunkcyjna'
 'pieczywo i produkty zbożowe' 'pieczywo' 'mięso' 'mięso surowe'
 'mięso surowe drobiowe' 'wędliny i inne przetwory mięsne' 'wędliny'
 'ryby' 'ryby i owoce morza' 'mleko świeże' 'jogurty i napoje mleczne'
 'jogurty'
 'mleko (bez zagęszczonego i w proszku), napoje mleczne i jogurty'
 'sery i twarogi' 'jaja' 'oleje i tłuszcze' 'owoce' 'warzywa' 'ziemniaki'
 'cukier' 'z pracy najemnej' 'z gospodarstwa indywidualnego w rolnictwie'
 'z pracy na własny rachunek'
 'przeciętny miesięczny dochód rozporządzalny na 1 osobę  z gospodarstwa indywidualnego w rolnictwie w relacji do przeciętnego miesięcznego dochodu na 1 osobę z pracy na własny rachunek'
 'ze świadczeń społecznych'
 'ze świadczeń społecznych; w tym ze świadczenia wychowawczego Rodzina 500+""'
 'dochód do dyspozycji' 'ogółem, Polska = 100'
 'towary i usługi konsumpcyjne' 'żywność i napoje bezalkoholowe'
 'napoje alkoholowe i wyroby tytoniowe' 'odzież i obuwie'
 'użytkowanie mieszkania lub domu i nośniki energii'
 'wyposażenie mieszkania i prowadzenie gospodarstwa domowego' 'zdrowie'
 'transport' 'łączność' 'rekreacja i kultura' 'edukacja'
 'restauracje i hotele' 'pozostałe wydatki na towary i usługi'
 'ogółem (BAEL)' 'towary i usługi konsumpcyjne (BAEL)'
 'udział wydatków na żywność i napoje bezalkoholowe w wydatkach ogółem'
 'udział wydatków na użytkowanie mieszkania i nośniki energii w wydatkach ogółem']

Rok: [1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012
 2013 2014 2015 2016 2017 2018 2019 2020 1998]

Wartosc: [31428. 36163. 31847. ...  7746.  7317. 65469.]

Jednostka miary: ['gosp.' 'osoba' '-' '%' 'kg' 'l' 'szt.' 'zł']

Atrybut: [nan 'm' 'x']

Unnamed: 8: [nan]